@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";

@theme {
  --color-primary: #0dceda;
  --color-primary-light: #d8fbfd;
  --color-primary-dark: #070129;
  --color-primary-background: #f1f4fd;
  --color-primary-dark-card: #171234;
  --color-primary-darker: #0aa7b1;
  --color-light: #474a55;
  --color-text-light: #8480ae;
  --color-text-dark: #0a165e;
  --text-42: 42px;
  --text-48: 48px;
  --text-60: 60px;
  --text-64: 64px;
  --text-90: 90px;
  --leading-64: 64px;
  --leading-72: 72px;
  --leading-104: 104px;
  --radius-30: 30px;
  --tracking-tight: -0.25px;
  --tracking-minus-3: -0.03em;
  --tracking-minus-1: -0.02em;
}

:root {
  --background: #070129;
  --font-just-sans: "JustSans", system-ui, sans-serif;
}

html,
body {
  max-width: 100vw;
  background-color: #070129;
  direction: ltr;
}

body {
  font-family: var(--font-just-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.swiper-button-disabled {
  background: #e2e2e299;
  pointer-events: none;
  opacity: 1;
}

.swiper-slide {
  height: auto;
}

@keyframes wave {
  0% {
    stroke: white;
    opacity: 0;
  }
  15% {
    stroke: #0dceda;
    opacity: 0.25;
  }
  30% {
    stroke: #0dceda;
    opacity: 0.75;
  }
  50% {
    stroke: #0dceda;
    opacity: 1;
  }
  70% {
    stroke: #0dceda;
    opacity: 0.75;
  }
  85% {
    stroke: #0dceda;
    opacity: 0.25;
  }
  100% {
    stroke: white;
    opacity: 0;
  }
}

.ring {
  animation: wave 4s ease-in-out infinite;
  opacity: 0.05;
  transition: opacity 3s ease-in-out;
}

.ring:nth-last-child(1) {
  animation-delay: 0s;
}
.ring:nth-last-child(2) {
  animation-delay: 0.25s;
}
.ring:nth-last-child(3) {
  animation-delay: 0.5s;
}
.ring:nth-last-child(4) {
  animation-delay: 0.75s;
}
.ring:nth-last-child(5) {
  animation-delay: 1s;
}
.ring:nth-last-child(6) {
  animation-delay: 1.25s;
}
.ring:nth-last-child(7) {
  animation-delay: 1.5s;
}
.ring:nth-last-child(8) {
  animation-delay: 1.75s;
}
.ring:nth-last-child(9) {
  animation-delay: 2s;
}
.ring:nth-last-child(10) {
  animation-delay: 2.25s;
}
.ring:nth-last-child(11) {
  animation-delay: 2.5s;
}
.ring:nth-last-child(12) {
  animation-delay: 2.75s;
}
.ring:nth-last-child(13) {
  animation-delay: 3s;
}
.ring:nth-last-child(14) {
  animation-delay: 3.25s;
}
.ring:nth-last-child(15) {
  animation-delay: 3.5s;
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: slow-spin 120s linear infinite;
  transform-origin: center;
  will-change: transform;
}
